[submodule "demo/wsam/shimmer"]
	path = demo/wsam/shimmer
	url = git@github.com:agnivade/shimmer.git
[submodule "examples/tao"]
	path = examples/tao
	url = git@github.com:leesper/tao.git
[submodule "lib/dts-sdk"]
	path = lib/dts-sdk
	url = git@github.com:Atian-OE/DTSSDK_Golang.git
[submodule "submodules/godotenv"]
	path = submodules/godotenv
	url = git@github.com:zing-dev/godotenv.git
